@import "rsuite/dist/rsuite.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


.rs-picker-input-group{
    height: 50px;
}


.rs-picker-input-group >input{
    font-weight: 600;
    font-size: 18px;
}
